<div class="middlecontent">
    <div class="jumbotron">
        <h1> Create Project</h1>
      </div>
  <%= form_for  [User, @project] do |f| %>
  <%= render "bugs/error",resource:@project %>
  <div class="form-group row">
    <div class="help-block with-errors"></div>
    <%= f.label :name ,class:"col-sm-2 col-form-label" %> <br>
    <div class="col-sm-8">
      <%= f.text_field :name ,class:"form-control my-form",required: true %>
    </div>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
</div>
<% end %>
</div>