<tr>
  <td> <%= bug.title  %> </td>
  <td> <%= bug.bugtype  %> </td>
  <td> <%= bug.status %> </td>
  <td>  <%= image_tag(bug.screenshot, alt: "rss feed", class: "showbugimage zoom") %>  </td>
  <td> <%= bug.deadline %> </td>
  <td> <%= bug.projectcode.name %> </td>
  <% if data == "newer" %>
          <% if(current_user.type=="Creator") %>
              
              <td class="tabledata">
                        <%= link_to 'Edit', edit_user_projectcode_bug_path(bug.creator_id,bug.projectcode_id,bug),class:"btn btn-primary" %>
                  <%= link_to 'Delete', user_projectcode_bug_path(bug.creator_id,bug.projectcode_id,bug),method: :delete, data: { confirm: 'Are you sure?',remote: true },class:"btn btn-danger delete" %>
                  
             </td>
          <% elsif(current_user.type=="Developer")%>
              <td class="tabledata">
                <%= link_to 'Assign Bug', assign_project_developer_bug_path(current_user.id,bug.projectcode_id,bug),method: :post,class:"btn btn-primary" %>
               
              </td>
          <% end%>

  <% else %>
        <% if(current_user.type=="Creator") %>
              <td class="tabledata">
                <%= link_to 'Edit', edit_user_projectcode_bug_path(bug.creator_id,bug.projectcode_id,bug),class:"btn btn-primary" %>
              
            </td>
        <% elsif(current_user.type=="Developer") %>
                
                <td class="tabledata" id="change status">
                    <% if bug.bugtype=="bug" %>
                          <% if bug.status!="resolved" %>
                                <%= link_to 'Mark as resolved', mark_project_bug_resolved_path(current_user.id,bug.projectcode_id,bug),class:"btn btn-primary",method: :post %>
                          <% else %>
                                <%= link_to 'Mark as resolved', mark_project_bug_resolved_path(current_user.id,bug.projectcode_id,bug),class:"btn btn-primary disabled disablebutton",method: :post %>
                          <% end %>
                    <% else %>
                          <% if bug.status!="completed" %>
                                <%= link_to 'Mark as completed', mark_project_bug_resolved_path(current_user.id,bug.projectcode_id,bug),class:"btn btn-primary ",method: :post %>
                                
                          <% else %>
                                <%= link_to 'Mark as completed', mark_project_bug_resolved_path(current_user.id,bug.projectcode_id,bug),class:"btn btn-primary disabled disablebutton",method: :post %>
                          <% end %>
                    <% end %>
                        
                </td>
        <%end%>
  <%end%>