<div class="middlecontent">
  <div class="jumbotron">
      <h1>Create Bug</h1>
  </div>

  <%= form_for :bug, url: {action: "create"},:html =>{:multipart=>true} do |f| %>
  <%= render "error",resource:@bug %>
<div class="form-group row">
      <%= f.label :title ,class:"col-sm-2 col-form-label" %> <br>
    <div class="col-sm-8">
        <%= f.text_field :title ,class:"form-control my-form",required: true %>
    </div>
</div>

<div class="form-group row">
      <div class="help-block with-errors"></div>
            <%= f.label :descryption ,class:"col-sm-2 col-form-label" %> <br>
        <div class="col-sm-8">
            <%= f.text_field :descryption ,class:"form-control my-form",required: true %>
        </div>
</div>

<div class="form-group row">
    <div class="help-block with-errors"></div>
        <%= f.label :bugtype ,class:"col-sm-2 col-form-label"%> <br>
          <div class="col-sm-8">
              <%= select_tag(:bugtype, options_for_select([['feature','feature'],['Bug','bug']]),class:"form-control my-form") %>
          </div>
</div>

<div class="form-group row">
     <div class="help-block with-errors"></div>
        <%= f.label :bugstatus ,class:"col-sm-2 col-form-label"%> <br>
          <div class="col-sm-8">
            <%= select_tag(:bugstatus, options_for_select([['new','newer'],['started','started'],['completed','completed']]),class:"form-control my-form")%>
          </div>
</div>

<div class="form-group row">
      <div class="help-block with-errors"></div>
        <%= f.label :deadline ,class:"col-sm-2 col-form-label"%> <br>
          <div class="col-sm-8">
            <%= f.date_field :deadline, :class => "form-control my-form",required:true ,min: Date.today %>
          </div>
</div>

  <div class="form-group row">
        <%= f.label :screenshot ,class:"col-sm-2 col-form-label"%> <br>
      <div class="col-sm-8">
        <%= f.file_field :screenshot ,required: true,class:"form-control my-form file_field",id:"choose"%>
      </div>
  </div>
    <%= f.submit class: 'btn btn-primary' %>
    <% end %>
</div>